name: Test Client

on:
  push:
    branches: [main]
    paths:
      - 'client/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'

    - name: Change to client directory
      run: cd client

    - name: Install dependencies
      run: npm install
      working-directory: ./client

    - name: Run tests
      run: npm test
      working-directory: ./client